<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RE_mod_author_changer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RE_mod_author_changer.My.MySettings>
            <setting name="WinrarPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthorName" serializeAs="String">
                <value />
            </setting>
            <setting name="HidePopupWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowConsoleOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RarProcessTimeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
        </RE_mod_author_changer.My.MySettings>
    </userSettings>
</configuration>
